/src/dataset
/src/__pycache__
/MNIST-data
/src/ImagesX64.npy
/src/info
/src/model
/__pycache__
/src/infoCifar
/src/modelCifar
/src/model256
/src/ImagesX256.npy
/src/ImagesX2560.npy
/src/ImagesX2561.npy
/src/ImagesX2562.npy
/src/ImagesX2563.npy
/src/ImagesX2564.npy
/src/info256
/srcv3/data.csv
/DataBaseScraper/BamImages.sqlite
/src/infounrolled
/srs/modelunrolled